@model prgGestionDeCompañias.tbTelefonos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTelefonos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoPers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCapacitaciones.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCapacitaciones.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpresas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpresas.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstudiantes.carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstudiantes.carnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbProfesores.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProfesores.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
