@model IEnumerable<prgGestionDeCompañias.tbTelefonos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbCapacitaciones.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEmpresas.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEstudiantes.carnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbProfesores.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCapacitaciones.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEmpresas.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEstudiantes.carnet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbProfesores.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
